<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/announcer_detail"
        android:label="AcaraIn"
        android:roundIcon="@drawable/announcer_detail"
        android:supportsRtl="true"
        android:theme="@style/Theme.UASR"
        tools:targetApi="31">

        <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:exported="true" />


        <!-- Beranda Poster Activity -->
        <activity
            android:name=".BerandaPosterActivity"
            android:exported="true" />

        <!-- Poster View Activity -->
        <activity
            android:name=".PosterViewActivity"
            android:exported="true" />

        <activity
            android:name=".HistoryRegisActivity"
            android:exported="true" />/>

        <!-- QR Code Display Activity -->
        <activity
            android:name=".QRCodeDisplayActivity"
            android:exported="true" />

        <!-- Preloaded Fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
